<div class="row">
  <!-- <div class="row" (keydown)="onKeyUp($event)" tabindex="0"> -->
  <div class="col-md-5">
    <h3>Languages</h3>
    <ul class="list-group-horizontal">
      <li class="list-group-item"
        *ngFor="let language of languages"
        (click)="selectLanguage(language)"
        [class.active]="language === selectedLanguage">
        {{language}}
      </li>
    </ul>


    <h3>Localizations</h3>
  
    <ul class="list-group">
      <li class="list-group-item"
        *ngFor="let localization of localizations"
        (click)="selectLocalization(localization)"
        [class.active]="localization === selectedLocalization">
        {{localization.string}}
      </li>
    </ul>
    <button class="btn btn-primary" (click)="createNewLocalization()">New</button>
    <button class="btn btn-warning" (click)="downloadLocalizations()">Download</button>
  </div>
  <div class="col-md-5 col-md-offset-2">
    <localizer-details
      [localization]="selectedLocalization"
      [createHandler]="addLocalization"
      [duplicateHandler]="duplicateLocalization"
      [updateHandler]="updateLocalization"
      [deleteHandler]="deleteLocalization">
    </localizer-details>
  </div>
</div>