<div *ngIf="contact" class="row">
  <div class="col-md-12">
    <h3 *ngIf="contact._id">String Localization Detail</h3>
    <h3 *ngIf="!contact._id">New String Localization</h3>
  </div>
</div>
<div *ngIf="contact" class="row">
  <form class="col-md-12">
    <div class="form-group">
      <label for="contact-email">String</label><label class="required-asterisk" *ngIf="!contact.string">*</label>
      <input class="form-control" name="contact-string" [(ngModel)]="contact.string" placeholder="Required"/>
    </div>
    <div class="form-group">
      <label for="contact-phone-mobile">Localization</label>
      <input class="form-control" name="contact-localization" [(ngModel)]="contact.localization" placeholder="Optional"/>
    </div>
    <div class="form-group">
      <label for="contact-name">Comment</label>
      <input class="form-control" name="contact-comment" [(ngModel)]="contact.comment" placeholder="Optional"/>
    </div>
    <button class="btn btn-info" [disabled]="!contact.string" *ngIf="!contact._id" (click)="createContact(contact)">Create</button>
    <button class="btn btn-success" [disabled]="!contact.string" *ngIf="!contact._id" (click)="duplicateLocalization(contact)">Duplicate</button>
    <button class="btn btn-info" [disabled]="!contact.string" *ngIf="contact._id" (click)="updateContact(contact)">Update</button>
    <button class="btn btn-danger" *ngIf="contact._id" (click)="deleteContact(contact._id)">Delete</button>
  </form>
</div>