<div *ngIf="localization" class="row">
  <div class="col-md-12">
    <h3 *ngIf="localization._id">String Localization Detail</h3>
    <h3 *ngIf="!localization._id">New String Localization</h3>
  </div>
</div>
<div *ngIf="localization" class="row">
  <form class="col-md-12">
    <div class="form-group">
      <label for="localization-email">String</label><label class="required-asterisk" *ngIf="!localization.string">*</label>
      <input class="form-control" name="localization-string" id="localization-string" [(ngModel)]="localization.string" placeholder="Required"/>
    </div>
    <div class="form-group">
      <label for="localization-phone-mobile">Localization</label>
      <input class="form-control" name="localization-localization" id="localization-localization" [(ngModel)]="localization.localization" placeholder="Optional"/>
    </div>
    <div class="form-group">
      <label for="localization-name">Comment</label>
      <input class="form-control" name="localization-comment" id="localization-comment" [(ngModel)]="localization.comment" placeholder="Optional"/>
    </div>
    <button class="btn btn-info" [disabled]="!localization.string" *ngIf="!localization._id" id="create-button" (click)="createLocalization(localization)">Create</button>
    <button class="btn btn-success" [disabled]="!localization.string" *ngIf="!localization._id" id="duplicate-button" (click)="duplicateLocalization(localization)">Duplicate</button>
    <button class="btn btn-info" [disabled]="!localization.string" *ngIf="localization._id" id="update-button" (click)="updateLocalization(localization)">Update</button>
    <button class="btn btn-danger" *ngIf="localization._id" id="delete-button" (click)="deleteLocalization(localization._id)">Delete</button>
  </form>
</div>